################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.ShortCircuit/.idea
/.vs/ShortCircuit/FileContentIndex
/bin/Debug/net8.0
/obj
/.vs
